/*Title: How to Make a Quiz App using HTML CSS Javascript- Vanilla Javascript Project for Beginners Tutorial * Author:(Brian Designs) * Date: (2020) * Code version:(v1) * Availability:https://www.youtube.com/watch?v=f4fB9Xg2JEY ()*/
body{
    color:#fff;
}

.choice-container {
 display:flex;
 margin-bottom: 0.8rem;
 width:100%;
 border-radius:4px; 
 background:rgba(0,212,255,1);
 font-size:3rem;
 min-width:80rem;
}

.choice-container:hover{
    cursor:pointer;
    transform: scale (1.02);
    transition: transform 100ms;

}

.choice-prefix{
    padding: 2rem 2.5rem;
    color:white;
}

.choice-text{
    padding: 2rem;
    width:100%;
}

.correct {
    background: linear-gradient(90deg, rgba(29,133,31,1) 28%, rgba(56,141,38,1) 34%, rgba(14,192,30,1) 38%);
}

.incorrect {
    background:  linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,78,69,1) 100%);
}

/*Heads up Display*/
#hud{
    display:flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size:2rem;
}

.hud-main-text{
    text-align: center;
}

/*Progress Bar Styling*/
#progressBar {
    width: 20rem;
    height:3rem;
    border:0.2rem solid rgba(29,133,31,1);
    margin-top:2rem;
    border-radius:50px;
    overflow:hidden;
}
#progressBarFull{
height:100%;
background:rgba(29,133,31,1);
width:0%;
}

